@use "_variables.scss" as v;
.exercise-detail-content {
  margin-top: 1em;
  background-color: v.$tertiary-color;
  width: 80%;
  color: v.$secondary-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  .muscle-lists {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;

    .primary-secondary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      ul {
        margin-block: 0;
      }
    }
  }

  .desc,
  .instructions {
    padding: 1em;
  }
}
