@use "./variables" as v;

.logout-btn,
.login-btn {
  color: v.$accent-color;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.material-symbols-outlined {
  font-size: 3em;
}

p {
  margin: 0;
}

.home-container {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-family: "Cairo", sans-serif;

  .home-btn {
    background-color: v.$tertiary-color;
    border-radius: 5px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;

    a {
      color: v.$secondary-color;

      &:hover {
        color: v.$primary-color;
      }
    }

    p {
      font-size: 1.7em;
    }

    &:first-child {
      background-color: v.$accent-color;
      color: v.$primary-color;
    }

    &:last-child {
      font-size: 0.7em;
    }
  }
}
