@use "./variables" as v;

.go-back-btn {
  font-size: 1em !important;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 1em;
  background-color: v.$tertiary-color;
  gap: 1em;

  .information-btn {
    font-size: 1em;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;

    .cancel-btn,
    .save-btn {
      font-size: 1em;
    }

    .cancel-btn {
      background-color: v.$secondary-color;
    }
  }

  h2 {
    margin-top: 0.2em;
  }
}
